---
import { getCollection } from "astro:content";
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import ArticleCard from "../../components/posts/ArticleCard.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---

<DefaultLayout>
  <div class="mt-4 flex h-full flex-col md:border-l md:border-border md:pl-6">
    <div class="h-full max-w-3xl flex-1 flex-col space-y-16">
      {
        posts.map((post) => (
          <ArticleCard
            title={post.data.title}
            pubDate={post.data.pubDate}
            description={post.data.description}
            slug={post.slug}
          />
        ))
      }
    </div>
  </div>
</DefaultLayout>

<!--<!doctype html>-->
<!--<html lang="en">-->
<!--  <head>-->
<!--    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />-->
<!--  </head>-->
<!--  <body>-->
<!--    <Header />-->
<!--    <main>-->
<!--      <section>-->
<!--        <ul>-->
<!--          {-->
<!--            posts.map((post) => (-->
<!--              <li>-->
<!--                <a href={`/blog/${post.slug}/`}>-->
<!--                  <img-->
<!--                    width={720}-->
<!--                    height={360}-->
<!--                    src={post.data.heroImage}-->
<!--                    alt=""-->
<!--                  />-->
<!--                  <h4 class="title">{post.data.title}</h4>-->
<!--                  <p class="date">-->
<!--                    <FormattedDate date={post.data.pubDate} />-->
<!--                  </p>-->
<!--                </a>-->
<!--              </li>-->
<!--            ))-->
<!--          }-->
<!--        </ul>-->
<!--      </section>-->
<!--    </main>-->
<!--    <Footer />-->
<!--  </body>-->
<!--</html>-->
